@font-face {
    font-family: 'futura_book'; /*a name to be used later*/
    src: url('../fonts/ufonts.com_futura-book.ttf'); /*URL to font*/
}

body{
    font-family: 'futura_book';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content_centered{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.header {
  font-size: 48px;
  text-align: center;
  margin: auto;
}

.footer_note{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

hr {
  width: 40%;
}

.row{
  position: relative;
  text-align:center;
  width: 100%;
}

.menu_btn{
  max-width: 12.5%;
  height: auto;
  margin: 16px;
  display:inline-block;
}

.menu_btn img {
  max-width: 100%;
  height: auto;
}
