@font-face {
    font-family: 'futura_book'; /*a name to be used later*/
    src: url('../fonts/ufonts.com_futura-book.ttf'); /*URL to font*/
}

html {
    font-family: 'BestFontEver';
    width: 100%;
    height: 100%;
}

body{
    font-family: 'futura_book';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.content {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content_centered{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.header {
  font-size: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

.footer_note{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.footer_info_note{
  margin-left: 5%;
}

hr {
  position: relative;
  width: 40%;
}

.row{
  margin-bottom: 32px;
  position: relative;
  text-align:center;
  width: 100%;
  max-height:100%;
}

.column {
  display:inline-block;
  max-width: 12.5%;
  height: auto;
  margin: 16px;
}

.column img {
  max-width: 100%;
  height: auto;
}

.digitalcontent img {
  width: 100px;
}

.digitalcontent {
  border: 1px black solid;
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
   width:100%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
}

.digital_column {
   text-align: center;
   float:left;
   width:50%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2%;
}

.digital_image {
  max-width: 70%;
  height: auto;
}

.tile {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align:center;
}

.modal-content img {
  max-width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.modal_column {
  text-align: center;
   float:left;
   width:50%;
   margin: auto;
   margin-bottom: 2%;
}

.modal_column img {
  max-width: 85%;
  height: auto;
}

#content_description{
  margin-top: 2%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* INFO SCREEN STYLES*/

.info img {
  width: 150px;
}

.info p {
  font-size: 13px;
  text-align: justify;
}

.cv {
  width: 330px;
}

.c1 {
  display: inline-block;
  vertical-align: top;
  border: 0px black solid;
  margin-left: 10px;
  margin-bottom: 10px;

}

.info {
  border: 0px black solid;
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.information {
  border: 0px black solid;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.infopart1 {
  display: inline-block;
  vertical-align: top;
}

.infocontent {
  border: 0px black solid;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 7px
}

.berlinkrakau p {
  text-align: right;
}

.inf2 {
  display: inline-block;
  vertical-align: top;
}

.berlin {
  margin-bottom: 100px;
  margin-top: 30px;
}

.linia img {
  width: 12px;
}

.linia {
  margin-left: 18px;
}

.schools p {
  font-size: 13px;
}

.schools {
  margin-top: 35px;
}

.school2 {
  margin-top: 100px;
}

.workexperience {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.worknames {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.social {
  border: 0px black solid;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.social img {
  width: 35;
}

.social1 {
  display: inline-block;
}

.socialin {
  border: 0px black solid;
  width: 128px;
  float: right;
  margin-top: 2%;
  margin-bottom: 5%;
}

.insta {
  margin-left: 2px;
  margin-right: 4px;
}

.mail {
  margin-left: 2px;
}
