@font-face {
    font-family: 'futura_book'; /*a name to be used later*/
    src: url('../fonts/ufonts.com_futura-book.ttf'); /*URL to font*/
}

body{
    font-family: 'futura_book';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.content {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

.contentCenteredHorizontally {
  margin-left: auto;
  margin-right: auto;
  position: relative;;
  width: 60%;
  height: 100%;
}

.content_centered{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.header {
  font-size: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.headerNotCentered {
  font-size: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 2%;
}

.footer_note{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.footer_info_note{
  margin-left: 5%;
}

.contentCenteredHorizontally hr{
  width: 95%;
  position: relative;
}

hr {
  position: relative;
  width: 40%;
}

.row{
  margin-bottom: 32px;
  position: relative;
  text-align:center;
  width: 100%;
  max-height:100%;
}

.column {
  display:inline-block;
  max-width: 12.5%;
  height: auto;
  margin: 16px;
}

.column img {
  max-width: 100%;
  height: auto;
}

.column20Width{
  display:inline-block;
  position: relative;
  max-width: 20%;
  max-height:100%;
  height: auto;
  margin: 16px;
  vertical-align: middle;
}

.column20Width  img {
  max-width: 100%;
  height: auto;
}

.column33Width{
  float: left;
  display:inline-block;
  position: relative;
  max-width: 10%;
  height: auto;
  vertical-align: middle;
  margin-left: 5%;
  margin-top: 16px;
  margin-bottom: 32px;
}

.column33Width  img {
  max-width: 15%;
  height: auto;
}
